.btn-ins{
    cursor: pointer;
    text-align: center;
    font-size: 17px;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #861024;
    width: 250px;
    border-radius:150px ;
    height: 50px;
}
.fondo{
    background: linear-gradiente(#861024, #0000);
    
}